---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { PRESS } from "@consts";
---

<Layout title={PRESS.TITLE} description={PRESS.DESCRIPTION}>
  <Container>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <span class="animate">
            <h1 class="text-4xl font-bold">Press</h1>
            <p>
                Below are some of the articles and interviews I've been featured in.
            </p>
          </span>

          <span class="animate">
            <a href="https://www.youthstem2030.org/youth-stem-matters/read/sciteens-interview" target="_blank" rel="noopener noreferrer">
                <h2 class="text-2xl font-bold">In Conversation with John Sutor and Carlos Mercado-Lara of SciTeens</h2>
            </a>
            <p>
                Recently, Youth STEM Matters Volunteers Tashinga Mutemachani and Louise Robertson had the honour of interviewing John Sutor and Carlos Mercado-Lara, co-founders of the non-profit SciTeens. The COVID-19 pandemic meant we had to speak to them via Zoom, but that didn’t stop them from sharing some very valuable insights and advice! In the interview, John and Carlos shared what SciTeens is all about, their journey and achievements in establishing it and an insight into their future plans.
            </p>
          </span>

          <span class="animate">
            <a href="https://news.fsu.edu/student-stars/2021/02/03/john-sutor/" target="_blank" rel="noopener noreferrer">
                <h2 class="text-2xl font-bold">FSU Student Stars</h2>
            </a>
            <p>
                John Sutor was a junior in high school when he first visited Florida State University as a participant in the Young Scholars Program, a six-week residential science and mathematics summer program for Florida high school students with significant potential for careers in science, technology, engineering and mathematics (STEM).
            </p>
          </span>

          <span class="animate">
            <a href="https://www.neonscience.org/impact/observatory-blog/sciteens-data-science-and-ecology-gen-z" target="_blank" rel="noopener noreferrer">
                <h2 class="text-2xl font-bold">SciTeens: Data Science and Ecology for Gen Z</h2>
            </a>
            <p>
                SciTeens is the brainchild of founders Carlos Mercado-Lara and John Sutor, who started the organization in 2018 when they were high school seniors. Their mission is to make free STEM resources – including data science resources – accessible to all students through online curricula, outreach, and mentoring. They leveraged ecological data from the NEON program to create their first data science projects.
            </p>
          </span>

          <span class="animate">
            <a href="https://news.cci.fsu.edu/cci-news/cci-faculty/ischool-professor-develops-field-of-artificial-intelligence/" target="_blank" rel="noopener noreferrer">
                <h2 class="text-2xl font-bold">iSchool Professor Studies Artificial Intelligence</h2>
            </a>
            <p>
                Dr. Jonathan Adams and his team of Computer Science students are working hard on developing applications for Artificial Intelligence (AI). “We were awarded a grant by the Student Technology Fee Advisory Committee, which allowed us to buy a computer designed for machine learning.” Dr. Adams explains. He then recruited two students from the Undergraduate Research Opportunity Program (UROP) and an intern to develop research projects using the computer to recognize objects with a video camera. “We learned a lot about data management, machine training, and transfer learning, so our research focused on describing the training process from a work-flow perspective,” Dr. Adams says. Transfer learning tries to build on training the computer has already received, requiring less data, and less time to train the machine to recognize new objects.
            </p>
          </span>

          <span class="animate">
            <a href="https://podcasters.spotify.com/pod/show/ideasthatmatter/episodes/Episode-07--Dustin-Liu-in-conversation-with-Carlos-Mercado-Lara-and-John-Sutor-e1021tk" target="_blank" rel="noopener noreferrer">
                <h2 class="text-2xl font-bold">MIT IDEAS That Inspire Podcast</h2>
            </a>
            <p>
                Carlos Mercado-Lara and John Sutor are MIT-IDEAS award recipients and Co-founders of SciTeens.⁠ SciTeens is an organization with a mission to bridge the gap between education and opportunity by providing students with mentorship and community on a free online platform.⁠
            </p>
          </span>

          <span class="animate">
            <a href="https://artsandsciences.fsu.edu/article/student-spotlight-john-sutor" target="_blank" rel="noopener noreferrer">
                <h2 class="text-2xl font-bold">Student Spotlight: John Sutor</h2>
            </a>
            <p>
                John Sutor is a senior double-majoring in computational science through the Department of Scientific Computing and applied mathematics through the Department of Mathematics, both part of Florida State University’s College of Arts and Sciences. Currently, he and his research team are focused on artificial intelligence as a teaching tool and the use of neural networks to produce synthetic visual data. Sutor founded SciTeens, a nonprofit that provides educational mentoring to under-resourced students. He has also published three papers about machine learning and the training of a YOLOv3 program to identify real or synthetic sea turtles in the past two years. He has spoken at the three correlating international conferences in Waynesville, N.C., Okayama, Japan, and Chengdu, China.
            </p>
          </span>
        </article>
      </section>
    </div>
  </Container>
</Layout>
